.side-nav li > a {
padding: 0 32px;
}

.navbar-search {
    border: 1px solid white !important;
    /* padding: 5px; */
    padding-top: 4px;
    padding-bottom: 4px;
    border-color: white;
    border-bottom: 1px solid white !important;
    margin-left: 0 !important;

}

.navbar-search::-webkit-input-placeholder {
font-size: 14px
}
 
.navbar-search:-moz-placeholder { /* Firefox 18- */
font-size: 14px
}
 
.navbar-search::-moz-placeholder {  /* Firefox 19+ */
font-size: 14px
}
 
.navbar-search:-ms-input-placeholder {  
font-size: 14px 
}

.nav-wrapper .brand-logo img {
    height: 60px;
    padding: 5px
}

nav .brand-logo {
    position: relative;
}

nav .left-menu-container .logo-container {
    line-height: 1
} 


.nav-wrapper ul li.menu-item-container {
    line-height: 1;
    text-align: center;
}

.nav-wrapper ul li.menu-item-container a {
   padding-bottom: 14px;
}

.nav-wrapper ul li.menu-item-container .material-icons.nav-icon {
    display:block;
    padding-top: 11px
}

.nav-wrapper ul li.menu-item-container .nav-text {
    font-size: 13px;
}

.nav-wrapper ul li.menu-item-container .nav-text .material-icons {
    font-size: 16px;
}

