<nav>
    <div class="nav-wrapper container">
        <ul id="nav-mobile" class="left left-menu-container">
        <li class="logo-container"><a routerLink="/dashboard" class="brand-logo"><img src="http://www.bantaysupport.com/images/bantay-networks-logo.png"></a></li>
        <li class="search hide-on-med-and-down">
            <div class="input-field col s6">
                <i class="material-icons prefix">search</i>
                <input id="icon_prefix" type="text" class="validate navbar-search" placeholder="Search here">
                <label for="icon_prefix" class=""></label>
            </div>
        </li>
      </ul>
        <!--<a href="#!" class="brand-logo"><img src="http://www.bantaysupport.com/images/bantay-networks-logo.png"></a>-->
        <a materialize="sideNav"  [materializeParams]="[{edge:'right'}]" href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
            <li><a  routerLink="/profile">Profile</a></li>
            <li><a  routerLink="/settings">Settings</a></li>
            <li class="divider"></li>
            <li><a routerLink="/login">Logout</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">

              <li class="menu-item-container">
                <a  routerLink="/project">
                    <span class="material-icons nav-icon">assignment</span>
                    <span class="nav-text">Project</span>
                </a>
            </li>
             <li class="menu-item-container">
                <a  routerLink="/bidder">
                    <span class="material-icons nav-icon">gavel</span>
                    <span class="nav-text">Bidder</span>
                </a>
            </li>
             <li class="menu-item-container">
                <a  routerLink="/contractor">
                    <span class="material-icons nav-icon">assignment_turned_in</span>
                    <span class="nav-text">Contractor</span>
                </a>
            </li>
             <li class="menu-item-container">
                <a  routerLink="/history">
                    <span class="material-icons nav-icon">history</span>
                    <span class="nav-text">History</span>
                </a>
            </li>
             <li class="menu-item-container">
                <a  routerLink="/message">
                    <span class="material-icons nav-icon">message</span>
                    <span class="nav-text">Message</span>
                </a>
            </li>
             <li class="menu-item-container">
                <a  routerLink="/notification">
                    <span class="material-icons nav-icon">notifications</span>
                    <span class="nav-text">Notification</span>
                </a>
            </li>
      
            <li class="menu-item-container">
            <a materialize="dropdown" class="dropdown-button  waves-effect waves-teal" href="#!" data-activates="dropdown1">
                <span class="material-icons nav-icon nav-icon">person</span>
                <span class="nav-text">Me<li class="material-icons right">arrow_drop_down</li></span>
                </a>
            </li>
        </ul>

        <ul class="side-nav" id="mobile-demo">
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li class="bold">
                        <a class="collapsible-header  waves-effect waves-teal">User<i class="material-icons right">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a  routerLink="/profile" >Profile</a></li>
                                <li><a  routerLink="/settings" >Settings</a></li>
                                <li><a href="/login">Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li class="bold"><a  routerLink="/project" class="collapsible-header  waves-effect waves-teal">Project</a>              
                    </li>
                </ul>
            </li>

             <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li class="bold"><a  routerLink="/bidder" class="collapsible-header  waves-effect waves-teal">Bidder</a>              
                    </li>
                </ul>
            </li>

             <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li class="bold"><a  routerLink="/contractor" class="collapsible-header  waves-effect waves-teal">Contractor</a>              
                    </li>
                </ul>
            </li>

             <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li class="bold"><a  routerLink="/history" class="collapsible-header  waves-effect waves-teal">History</a>              
                    </li>
                </ul>
            </li>

             <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li class="bold"><a  routerLink="/message" class="collapsible-header  waves-effect waves-teal">Message</a>              
                    </li>
                </ul>
            </li>

             <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li class="bold"><a  routerLink="/notification" class="collapsible-header  waves-effect waves-teal">Notification</a>              
                    </li>
                </ul>
            </li>


        </ul>
        
    </div>
</nav>