<app-navbar></app-navbar>
<div class="container">
    <div class="row">

        <div class="col s12 m12">
          <div class="card light-blue lighten-1">
            <div class="card-content white-text">
                <span class="material-icons right">clear</span>
              <span class="card-title"><i class="material-icons">lightbulb_outline</i> Tips for the day</span>
              <p>Akona has many features that make it easy to work with. You can create project, find contractor, bids, Generate reports, chat and many more!</p>
            </div>

          </div>
        </div>

      <div class="col s12 m9">



      <div class="col s12 m12">
        <div class="card darken-1">
          <div class="card-content">
            <span class="card-title">Card Title</span>

            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>

            <div class="col s12 m6">
        <div class="card darken-1">
          <div class="card-content">
            <span class="card-title">Card Title</span>

            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>


            <div class="col s12 m6">
        <div class="card darken-1">
          <div class="card-content">
            <span class="card-title">Card Title</span>

            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>


        <div class="col s12 m12">
        <div class="card darken-1">

            <ul class="collapsible" data-collapsible="accordion" materialize="collapsible">
              <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit aasdsadsadmet.asdsad</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
              </li>
            </ul>


        </div>
      </div>

            <div class="col s12 m12">
        <div class="card darken-1">

            <ul class="collapsible" data-collapsible="accordion" materialize="collapsible">
              <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
              </li>
            </ul>


        </div>
      </div>

            <div class="col s12 m12">
        <div class="card darken-1">

            <ul class="collapsible" data-collapsible="accordion" materialize="collapsible">
              <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
              </li>
            </ul>


        </div>
      </div>

      </div>


       <div class="col s12 m3">
               <div class="col s12 m12">
        <div class="card darken-1">
          <div class="card-content">
            <span class="card-title">Card Title</span>

            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>

       </div>  

      
    </div>   
       </div>    
